<div style="background-color: #eee;">
    <div id="vnw-terms-of-use" class="container main-content"  style="padding: 50px 0;">
        <div class="box box-lg">
            <div class="wrap" id="top">
                <!--<div class="line_title_faq"><img src="https://images.JEEJOB.com/btxt_term_of_use_vn.gif" width="300" height="30" alt="" /></div>-->
                <h1 class="page-title">Thỏa Thuận Sử Dụng</h1>
    
                <h2 class="faqtitle_answer">Chấp Thuận Điều Khoản &amp; Điều Kiện</h2>
    
                <p>Vui lòng đọc kỹ các Điều Khoản &amp; Điều Kiện này trước khi truy nhập và sử dụng dịch vụ trên website đăng
                    tuyển dụng JEEJOB.com (sau đây gọi là “Website JEEJOB”) của Công ty Cổ phần Navigos Group
                    Việt Nam (sau đây gọi là “Công ty”). Bằng việc truy cập và sử dụng Website JEEJOB, bạn (sau đây có
                    thể được gọi là “bạn” hoặc “Khách hàng”, trừ phi ngữ cảnh yêu cầu khác đi) chấp thuận Điều Khoản &amp; Điều
                    Kiện này và đồng ý bị ràng buộc bởi các quy định về sử dụng Dịch vụ trên Website JEEJOB. Nếu bạn
                    có bất kỳ câu hỏi nào về bản thỏa thuận này, vui lòng liên hệ chúng tôi qua email <a href="mailto:contact@JEEJOB.com">contact&#64;JEEJOB.com</a>.
                </p>
                <!-- block -->
                <h2 class="faqtitle_answer">Dịch Vụ Của JEEJOB</h2>
    
                <div class="faq_answer"><p>JEEJOB.com là một trang Web trên mạng Internet được thiết kế cho phép những
                        người sử dụng đăng thông báo tuyển dụng và/hoặc xem các công việc do những người sử dụng khác đăng
                        lên, hoặc tương tác với những người sử dụng khác. JEEJOB.com do Công ty sở
                        hữu và điều hành. Website JEEJOB chứa và có thể chứa các thông tin, tin tức, các ý kiến, văn
                        bản, đồ hoạ, các liên kết, sản phẩm nghệ thuật điện tử, hình ảnh động, âm thanh, video, phần mềm,
                        tranh ảnh, âm nhạc, tiếng động và các nội dung, dữ liệu khác (gọi chung là “nội dung”) được định
                        dạng, tổ chức và thu thập dưới nhiều hình thức khác nhau mà người sử dụng có thể truy nhập tới được,
                        gồm các thư mục, cơ sở dữ liệu và các vùng trên website của JEEJOB.com mà người sử dụng có thể
                        thay đổi được, chẳng hạn như đăng quảng cáo tuyển dụng, tải lên các tệp đa phương tiện, đăng ký các
                        hồ sơ người sử dụng và tạo các hồ sơ tự thông báo (“vùng tương tác”).</p>
    
                    <p>Để có thể sử dụng đầy đủ tiện ích dịch vụ trên Website JEEJOB, bạn cần phải đăng ký tạo lập một
                        tài khoản sử dụng và cung cấp Website JEEJOB một số thông tin cá nhân nhất định bao gồm mà
                        không giới hạn bởi địa chỉ email để phục vụ cho việc liên lạc giao tiếp giữa bạn và Website
                        JEEJOB cũng như những người sử dụng khác sau này. Bằng việc đăng ký này, bạn đồng ý nhận các
                        Thư thông báo, các thư điện tử hoặc các hình thức truyền thông khác về các sản phẩm và dịch vụ của
                        Website JEEJOB. Bất cứ khi nào bạn không mong muốn nhận các thư điện tử này nữa, thì bạn hãy
                        thông báo cho Website JEEJOB bằng cách chọn chức năng hủy đăng ký có sẵn trên Website
                        JEEJOB hoặc tại bên dưới của các thư điện tử của Website JEEJOB. Các thông tin cá nhân
                        của bạn sẽ được bảo quản và xử lý một cách bảo mật theo Chính Sách Bảo Mật của Website
                        JEEJOB.</p>
    
                    <p>Bạn có thể đặt mua sử dụng các dịch vụ hoặc sản phẩm với các mức giá niêm yết có sẵn trên Website
                        JEEJOB và việc đặt mua này của bạn sẽ tùy thuộc vào chấp thuận một phần hoặc toàn bộ điều kiện
                        đặt hàng này của Website JEEJOB. Việc chấp thuận này của Website JEEJOB chỉ có hiệu lực
                        ràng buộc khi bạn đã thanh toán hoặc các thông tin về thanh toán của bạn đã được xác nhận.</p>
    
                    <p>Công ty bảo lưu quyền thay đổi các dịch vụ, sản phẩm, biểu giá và phương thức tính giá
                        và các thay đổi khác của Website JEEJOB từng thời gian mà không phải thông báo trước cho người
                        sử dụng nếu thấy phù hợp.</p>
                    <p>Công ty bảo lưu quyền từ chối cung cấp dịch vụ cho các cá nhân, tổ chức, mà theo quy định của
                        pháp luật hoặc theo toàn quyền đánh giá của Công ty:</p>
                    <ol>
                        <li>
                            <p>
                                Có hoạt động kinh doanh cùng lĩnh vực, nghành nghề với Công ty, bao gồm nhưng không
                                giới hạn, các hoạt động kinh doanh dịch vụ việc làm thông qua website, ứng dụng thương mại
                                điện tử bán hàng và/hoặc website, ứng dụng cung cấp dịch vụ thương mại điện tử (sàn giao
                                dịch thương mại điện tử); và/hoặc
                            </p>
                        </li>
                        <li>
                            <p>Vận hành, quản lý website, ứng dụng liên quan đến tuyển dụng, dịch vụ việc làm tương tự nền
                                tảng website, ứng dụng của Công ty nhằm mục đích kinh doanh, thu lợi nhuận;
                                và/hoặc </p>
                        </li>
                        <li>
                            <p>
                                Khai thác, sử dụng các thông tin được cung cấp bởi dịch vụ của Công ty không nhằm phục vụ
                                cho mục đích tuyển dụng cho chính cá nhân, tổ chức đó; và/hoặc
                            </p>
                        </li>
                        <li>
                            <p>Cung cấp các sản phẩm, dịch vụ mang tính chất cạnh tranh với các dịch vụ hiện có của
                                JEEJOB.</p>
                        </li>
                    </ol>
                    <p>Trường hợp, Công ty đã cung cấp dịch vụ cho bạn và/hoặc công ty bạn nhưng sau đó phát hiện ra
                        bạn và/hoặc công ty bạn thuộc một trong các đối tượng mà Công ty từ chối cung cấp dịch vụ nêu
                        trên, thì tùy theo quyết định của Công ty sẽ tiến hành:</p>
                    <ol>
                        <li>
                            <p>
                                Chấm dứt cung cấp dịch vụ và thông báo cho Khách hàng,
                            </p>
                        </li>
                        <li>
                            <p>Gỡ bỏ toàn bộ tin đăng tuyển (nếu có),</p>
                        </li>
                        <li>
                            <p>Gỡ bỏ, vô hiệu hóa tài khoản sử dụng website JEEJOB nếu xét thấy cần thiết</p>
                        </li>
                        <li>
                            <p>Hoàn trả lại khoản tiền mà bạn đã thanh toán (nếu có) tương ứng với khối lượng dịch vụ mà
                                Công ty chưa cung cấp và/hoặc bạn chưa kích hoạt sử dụng. </p>
                        </li>
                    </ol>
    
                </div>
                <!-- end block -->
                <!-- block -->
                <h2 class="faqtitle_answer">Dịch Vụ Đặt Mua Và Thanh Toán</h2>
    
                <div class="faq_answer">
                    <ol>
                        <li><p>Bạn có thể mua một hoặc nhiều dịch vụ có sẵn trong Danh sách Dịch vụ của JEEJOB thông
                                qua Đơn đặt hàng và/hoặc Hợp đồng Dịch vụ.</p>
    
                            <p>Nếu dịch vụ Khách hàng mua là Dịch vụ Đăng tuyển:</p>
                            <ul>
                                <li><p>Vị trí đăng tuyển sẽ được đăng trên Website JEEJOB trong 30 (ba mươi) ngày kể
                                        từ ngày kích hoạt. Tiêu đề công việc không được thay đổi sau khi vị trí đăng tuyển
                                        đã được kích hoạt đăng trên Webiste JEEJOB.</p>
                                </li>
                                <li><p>Mỗi vị trí đăng tuyển chỉ được bao gồm 01 (một) tiêu đề đăng tuyển cùng 01 (một) mô
                                        tả công việc và yêu cầu công việc.</p>
                                </li>
                            </ul>
                        </li>
    
                        <li><p>Dịch vụ của JEEJOB là dịch vụ trả trước hoặc trả sau bằng tiền mặt, chuyển khoản hoặc
                                thẻ tín dụng. Danh sách các loại thẻ tín dụng được chấp thuận sẽ được công bố trên Website
                                JEEJOB. Phí Dịch vụ phải được thanh toán chậm nhất vào Ngày thanh toán quy định trên
                                Đơn đặt hàng.</p>
    
                            <p>Nếu quá Ngày thanh toán mà Khách hàng vẫn chưa thực hiện thanh toán Phí Dịch vụ, thì Công ty
                                có quyền tạm ngưng cung cấp dịch vụ cho đến khi việc thanh toán được thực hiện đầy đủ.</p>
                        </li>
    
                        <li><p>Công ty sẽ xuất Hóa đơn Thuế GTGT theo quy định của pháp luật Việt Nam hiện hành ngay khi
                                Khách hàng yêu cầu. Khách hàng chịu trách nhiệm về tính chính xác của thông tin xuất Hóa đơn
                                Thuế GTGT.</p></li>
                    </ol>
                </div>
                <!-- end block -->
                <!-- block -->
                <h2 class="faqtitle_answer">Điều Khoản Về Sử Dụng Dịch Vụ</h2>
    
                <div class="faq_answer">
                    <ol>
                        <li><p>Sau khi bạn đã thanh toán Phí Dịch vụ và/hoặc kích hoạt các Dịch vụ đã đặt mua, chúng tôi sẽ
                                không chấp nhận bất kỳ yêu cầu tạm ngưng hoặc hủy bỏ các Dịch vụ đã đặt mua, hoặc hoàn Phí
                                Dịch vụ, hoặc thay đổi dịch vụ.</p></li>
                        <li><p>Bạn sẽ tự tạo một tài khoản với mật khẩu để sử dụng dịch vụ trên Website JEEJOB.</p>
                        </li>
                        <li><p>Bạn được quyền đăng tải nội dung thông tin đăng tuyển của mình và/hoặc đường dẫn trên Website
                                JEEJOB đến nội dung thông tin tuyển dụng tại trang web của mình và hoàn toàn chịu
                                trách nhiệm về tính chính xác và hợp pháp của các nội dung này. Tuy nhiên bạn không được
                                phép đưa vào nội dung thông tin đăng tuyển tất cả định dạng địa chỉ email và/hoặc số
                                điện thoại và/hoặc số fax hoặc bất kể hình thức thông tin liên lạc nào khác.</p></li>
                        <li><p>Bạn phải kích hoạt Dịch vụ đã mua trong thời hạn sử dụng. Khi hết thời hạn sử dụng, bất kỳ
                                Dịch vụ đã mua nhưng chưa được kích hoạt sẽ không còn giá trị sử dụng.</p></li>
                        <li><p>Trường hợp do lỗi cố ý của chúng tôi mà sau 7 (bảy) ngày làm việc kể từ ngày bạn có thông báo
                                nhắc nhở bằng văn bản về vi phạm mà chúng tôi vẫn chưa tiến hành khắc phục sai phạm này,
                                chúng tôi sẽ hoàn trả cho bạn Phí Dịch vụ tương ứng với Dịch vụ chưa sử dụng theo Đơn đặt
                                hàng/Hợp đồng Dịch vụ mà chúng tôi không cung cấp theo đúng thỏa thuận giữa hai bên.</p>
                        </li>
                    </ol>
                </div>
                <!-- end block -->
                <!-- block -->
                <h2 class="faqtitle_answer">Quyền Và Trách Nhiệm Của Người Sử Dụng</h2>
    
                <div class="faq_answer">
                    <p><strong><u>Truy cập Website JEEJOB.com.</u></strong> Bạn có trách nhiệm tự cung cấp tất cả phần
                        cứng, phần mềm, số điện thoại hoặc các thiết bị liên lạc khác và/hoặc dịch vụ kết nối tới Internet
                        và truy cập Website JEEJOB.com, đồng thời có trách nhiệm trả mọi khoản phí truy cập Internet,
                        phí điện thoại hoặc các khoản phí khác phát sinh trong quá trình kết nối Internet và truy cập
                        Website JEEJOB.</p>
                </div>
                <div class="faq_answer"><strong><u>Đạo đức người sử dụng.</u></strong> Khi sử dụng Dịch vụ của JEEJOB
                    và truy cập vào Website JEEJOB, bạn nhận thức đầy đủ các điều cấm sau:
                    <p>
                        </p><ol>
                            <li>
                    <p>Chống Nhà nước Cộng hoà xã hội chủ nghĩa Việt Nam, phá hoại khối đoàn kết toàn dân, tuyên truyền,
                        xuyên tạc, kích động hoặc cung cấp thông chống phá Nhà nước Việt Nam;</p></li>
                    <li><p>Kích động bạo lực, tuyên truyền chiến tranh xâm lược, gây hận thù giữa các dân tộc và nhân dân
                            các nước, kích động dâm ô, đồi trụy, tội ác, tệ nạn xã hội, mê tín dị đoan, phá hoại thuần phong
                            mỹ tục của dân tộc;</p></li>
                    <li><p>Tiết lộ bí mật nhà nước, bí mật quân sự, an ninh, kinh tế, đối ngoại và những bí mật khác đã được
                            pháp luật quy định;</p></li>
                    <li><p>Xuyên tạc, vu khống, xúc phạm uy tín của tổ chức, danh dự, nhân phẩm, uy tín của công dân;</p>
                    </li>
                    <li><p>Quảng cáo, tuyên truyền hàng hoá, dịch vụ thuộc danh mục cấm đã được pháp luật quy định;</p></li>
    
                    <li><p>Đề cập đến các vấn đề chính trị và tôn giáo;</p></li>
                    <li><p>Sử dụng các từ ngữ vô văn hóa vi phạm truyền thống đạo đức của Việt Nam;</p></li>
                    <li><p>Hạn chế hoặc ngăn cản người sử dụng khác sử dụng và hưởng các tính năng tương tác;</p></li>
    
                    <li><p>Gửi hoặc chuyển các thông tin bất hợp pháp, đe doạ, lạm dụng, bôi nhọ, nói xấu, khiêu dâm, phi
                            thẩm mỹ, xúc phạm hoặc bất kỳ loại thông tin không đứng đắn nào, bao gồm nhưng không hạn chế
                            việc truyền bá tin tức góp phần hay khuyến khích hành vi phạm tội, gây ra trách nhiệm pháp lý
                            dân sự hoặc vi phạm pháp luật đia phương, liêng bang, quốc gia hoặc quốc tế;</p></li>
    
                    <li><p>Gửi hay chuyển các thông tin, phần mềm, hoặc các tài liệu khác bất kỳ, vi phạm hoặc xâm phạm các
                            quyền của những người khác, trong đó bao gồm cả tài liệu xâm phạm đến quyền riêng tư hoặc công
                            khai, hoặc tài liệu được bảo vệ bản quyền, tên thương mại hoặc quyền sở hữu khác, hoặc các sản
                            phẩm phái sinh mà không được sự cho phép của người chủ sở hữu hoặc người có quyền hợp pháp;</p>
                    </li>
    
                    <li><p>Gửi hoặc chuyển thông tin, phần mềm hoặc tài liệu bất kỳ có chứa virus hoặc một thành phần gây
                            hại khác;</p></li>
                    <li><p>Thay đổi, làm hư hại hoặc xóa nội dung bất kỳ hoặc các phương tiện khác mà không phải là nội dung
                            thuộc sở hữu của bạn, hoặc gây trợ ngại cho những người khác truy cập đến Website
                            JEEJOB;</p></li>
    
                    <li><p>Phá vỡ luồng thông tin bình thường trong một vùng tương tác;</p></li>
                    <li><p>Tuyên bố có liên hệ với hay phát ngôn cho một doanh nghiệp, hiệp hội, thể chế hay tổ chức nào
                            khác mà bạn không được uỷ quyền tuyên bố mối liên hệ đó;</p></li>
                    <li><p>Thực hiện tấn công mạng, khủng bố mạng, gián điệp mạng, tội phạm mạng; gây sự cố, tấn công,
                            xâm nhập, chiếm quyền điều khiển, làm sai lệch, gián đoạn, ngưng trệ, tê liệt hoặc phá hoại hệ
                            thống thông tin;</p></li>
    
                    <li><p>Sử dụng Website JEEJOB cho những mục đích phi pháp, bao gồm nhưng không giới hạn hành vi vi
                            phạm một quy tắc, chính sách hay hướng dẫn sử dụng nào của nhà cung cấp dịch vụ Internet cho bạn
                            hay các dịch vụ trực tuyến.</p></li>
                    </ol>
                    <p></p>
                    <p>
                        <strong><u>Đăng ký tài khoản số lượng lớn và Tự động.</u></strong> Các tài khoản được đăng ký một
                        cách tự động và/hoặc có hệ
                        thống với số lượng lớn, theo toàn quyền đánh giá của Công ty, được xem là vi phạm và sẽ áp dụng các
                        xử lý vi phạm theo quy định tại Điều Khoản và Điều Kiện này.
                    </p>
                    <p><strong><u>Hoạt động không đúng mục đích.</u></strong> Bất kỳ hành vi lạm dụng và/hoặc sử dụng
                        website JEEJOB sai lệch khỏi mục đích tuyển dụng, tìm kiếm cơ hội việc làm, theo toàn quyền
                        đánh giá bởi Công ty, sẽ có thể
                        được xem là vi phạm và sẽ bị áp dụng các xử lý vi phạm theo quy định tại Điều Khoản và Điều Kiện
                        này.
                    </p>
                    <p><strong><u>Quấy rầy người dùng khác.</u></strong> Công ty mong muốn tạo môi trường tự do và lành mạnh
                        cho hoạt động tuyển
                        dụng và tìm kiếm việc làm của tất cả người dùng. Khi sử dụng Website JEEJOB, bạn cần cân nhắc
                        cẩn thận các nội dung do mình đưa lên vùng tương tác và các phản hồi đối với người dùng khác. Nếu
                        Công ty nhận được phản ánh về bất kỳ hành vi quấy rầy nào (bao gồm nhưng không giới hạn các hành vi
                        đe dọa, đưa ra các nội dung trống rỗng hoặc chuỗi ký tự/từ ngẫu nhiên không có nghĩa và/hoặc không
                        liên quan đến các nội dung tương tác hợp lý, gửi thư rác, sử dụng các hình thức lừa dối nhằm lôi kéo
                        sự chú ý hoặc nhằm mục đích tiếp thị thương mại) làm ảnh hưởng đến việc sử dụng dịch vụ, cản trở khả
                        năng tiếp cận thông tin, đem lại sự không thoải mái cho người dùng khác, Công ty, ngay lập tức, có
                        quyền tạm dừng cung cấp dịch vụ mà không cần thông báo và/hoặc hoàn lại tiền đối với người dùng bị
                        báo cáo sai phạm để điều tra và xử lý theo quy định tại Điều Khoản và Điều Kiện này.
                    </p>
                    <p><strong><u>Yêu cầu người tham gia ứng tuyển đóng tiền.</u></strong>
                    Công ty không thu tiền của người dùng tham gia ứng tuyển. Việc nhà tuyển dụng thu tiền của người tham gia ứng tuyển hoàn toàn bị cấm theo quy định của pháp luật Việt Nam hiện hành. Bạn sẽ tuân thủ nghiêm ngặt các quy định này. Trong một số trường hợp đặc thù mà người tham gia ứng tuyển được yêu cầu phải chi trả bất kỳ khoản chi phí hàng hóa/dịch vụ nào cho bạn hoặc Công ty bạn hoặc bất kỳ bên thứ ba nào khác phù hợp với quy định pháp luật (như chi phí làm thủ tục xuất nhập cảnh để đến làm việc tại một quốc gia khác, chi phí giấy phép lao động, chi phí đào tạo nghề…) để có thể được tuyển dụng và làm việc cho bạn và/hoặc Công ty bạn thì thông tin về các chi phí này phải được công khai trong nội dung đăng tuyển.
                    </p>
                    <p>
                        Nếu Công ty phát hiện hoặc nhận được phản ánh từ những người dùng khác về bất kỳ yêu cầu thu tiền nào liên quan đến bạn và/hoặc Công ty bạn mà không phù hợp với quy định trên, Công ty, ngay lập tức, có quyền tạm dừng cung cấp dịch vụ liên quan mà không cần thông báo và/hoặc hoàn lại tiền cho bạn để điều tra và xử lý vi phạm theo quy định tại Điều Khoản và Điều Kiện này.
                    </p>
    
                    <p>
                        Trong trường hợp bạn được bất kỳ người dùng nào yêu cầu chi trả bất kỳ khoản tiền nào liên quan đến việc bạn nộp hồ sơ ứng tuyển hoặc làm việc cho họ, bạn cần phải dùng sự suy xét tốt nhất của bạn trong việc tìm hiểu và đánh giá tất cả các thông tin cũng như thận trọng cân nhắc trước khi quyết định chi trả. Công ty sẽ không chịu trách nhiệm về những thiệt hại hay rủi ro hay tổn thất dưới bất kỳ hình thức nào mà người dùng có thể gánh chịu khi đưa ra các quyết định liên quan đến việc tương tác với người dùng khác, bất kể thông qua Website JEEJOB hay không.
                    </p>
    
                    <p><strong><u>Báo cáo vi phạm.</u></strong> Trong trường hợp bạn cho rằng hành vi của bất kỳ người dùng nào khác không phù hợp các quy định tại Điều Khoản và Điều Kiện này, bạn luôn có thể thông báo cho chúng tôi để xem xét.</p>
                </div>
                <!-- end block -->
                <!-- block -->
                <h2 class="faqtitle_answer">Các Vùng Tương Tác</h2>
    
                <div class="faq_answer">
                    <p>Bạn thừa nhận, Website JEEJOB có thể chứa các vùng tương tác khác nhau, bao gồm nhưng không hạn
                        chế với các công việc. Những vùng tương tác này cho phép phản hồi đến Website JEEJOB và tương
                        tác thời gian thực giữa những người sử dụng. Bạn cũng hiểu rằng, Website JEEJOB không kiểm
                        soát các thông báo, thông tin hoặc các tệp được phân phối tới các vùng tương tác như vậy và rằng,
                        Website JEEJOB có thể cho bạn và những người sử dụng khác khả năng tạo và quản lý một vùng
                        tương tác. Tuy nhiên, Website JEEJOB, công ty mẹ, hoặc các chi nhánh, cũng như các giám đốc,
                        nhân viên, những người làm thuê và các đại lý tương ứng không chịu trách nhiệm về nội dung trong
                        vùng tương tác bất kỳ.</p>
    
                    <p>Việc sử dụng và/hoặc quản lý một vùng tương tác của bạn sẽ bị chi phối bởi Bản thoả thuận này và các
                        quy tắc bổ sung bất kỳ, hoặc bởi các thủ tục hoạt động của vùng tương tác bất kỳ do bạn hay người sử
                        dụng khác thiết lập. Bạn công nhận rằng, Website JEEJOB không thể và không có ý định sàng lọc
                        các thông tin trước. Ngoài ra, vì Website JEEJOB khuyến khích liên lạc mở và không thiên vị
                        trong các vùng tương tác nên Website JEEJOB không thể xác định trước mức độ chính xác hoặc sự
                        phù hợp đối với bản Thoả thuận này về nội dung bất kỳ được chuyển đi trong vùng tương tác. Website
                        JEEJOB không chịu trách nhiệm với việc sàng lọc, lập chính sách, hiệu chỉnh, duyệt hoặc giám
                        sát nội dung bất kỳ trong một vùng tương tác.</p>
    
                    <p>Mặc dù vậy, bạn cũng đồng ý rằng Website JEEJOB có quyền giám sát mọi vùng tương tác, đôi lúc
                        để lộ thông tin nào đó nếu cần thiết theo yêu cầu luật pháp, hoặc yêu cầu khác của chính phủ đối với
                        hoạt động của vùng tương tác, hoặc để tự bảo vệ mình hay những người sử dụng khác. Nếu được thông
                        báo nội dung dẫn ra không phù hợp với bản Thỏa thuận này, Website JEEJOB có thể thận trọng
                        điều tra và xác định để loại bỏ, hoặc yêu cầu người sử dụng bỏ nội dung đó. Website JEEJOB giữ
                        quyền cấm các hành động, truyền đạt tin tức hoặc nội dung trong phạm vi vùng tương tác, hoặc soạn
                        thảo, từ chối gửi, hoặc loại bỏ nội dung bất kỳ, toàn thể hay từng phần mà với đặc quyền của mình,
                        chúng tôi cho rằng (i) vi phạm các điều khoản tiêu chuẩn lúc đó của bản Thỏa thuận này hoặc chuẩn
                        bất kỳ khác nằm trong chính sách của JEEJOB.com vẫn còn hiệu lực vào lúc đó, (ii) bất lợi với
                        các quyền của mọi người sử dụng, của Website JEEJOB hoặc các nhóm thứ ba khác, (iii) vi phạm
                        luật hiện hành hoặc (iv) những điều không hay khác.</p>
                </div>
                <!-- end block -->
                <!-- block -->
                <h2 class="faqtitle_answer">Các Quyền Sở Hữu Trí Tuệ</h2>
    
                <div class="faq_answer">
                    <p><strong><u>Nội dung Website nghề nghiệp JEEJOB.com.</u></strong> Bạn thừa nhận, JEEJOB
                        Website cho phép truy cập đến Nội dung được bảo vệ bản quyền, tên thương mại và các quyền sở hữu
                        khác (kể cả quyền sở hữu trí tuệ) (“Quyền Sở hữu Trí tuệ”), và thừa nhận các quyền sở hữu trí tuệ đó
                        là hợp lệ và được bảo vệ trên mọi phương tiện truyền thông hiện có và sau này, trừ những điểm nêu rõ
                        ràng dưới đây, việc sử dụng nội dung của bạn sẽ được quản lý theo các luật bản quyền và các luật sở
                        hữu trí tuệ hiện hành khác.</p>
    
                    <p>Bạn đồng ý và thừa nhận rằng tất cả các nội dung trên JEEJOB Website bao gồm nhưng không giới
                        hạn bởi các sơ yếu lý lịch sẽ thuộc quyền sở hữu trí tuệ duy nhất của Website JEEJOB và
                        Navigos Group và bạn không được quyền thay đổi, sao chép, mô phỏng, truyền, phân phối, công bố, tạo
                        ra các sản phẩm phái sinh, hiển thị hoặc chuyển giao, hoặc khai thác nhằm mục đích thương mại bất kỳ
                        phần nào của nội dung, toàn bộ hay từng phần. Tuy nhiên, bạn có thể (i) tạo một bản sao dưới dạng số
                        hoặc hình thức khác để phần cứng và phần mềm máy tính của bạn có thể truy cập và xem được nội dung,
                        (ii) in một bản sao của từng đoạn nội dung, (iii) tạo và phân phối một số lượng hợp lý các bản sao
                        nội dung, toàn bộ hay từng phần, ở dạng bản in hoặc bản điện tử để dùng nội bộ.</p>
    
                    <p>Bất kỳ bản sao nội dung được phép nào cũng phải được tái tạo ở dạng không thể biến đổi được các thông
                        tri bất kỳ chứa trong nội dung, chẳng hạn như tất cả các thông tri về Quyền Sở hữu Trí tuệ, và các
                        nguồn thông tin ban đầu cho “website nghề nghiệp JEEJOB.com” và địa chỉ mạng (URL) của nó. Bạn
                        sẽ không có bất kỳ Quyền Sở hữu Trí tuệ nào qua việc tải xuống hoặc in nội dung. Bất kể các bản sao
                        hoặc việc sử dụng trái phép nào đối với nội dung nào cho mục đích thương mại sẽ bị coi là vi phạm và
                        bị xử lý theo quy định có liên quan của pháp luật và các điều khoản quy định tại bản thỏa thuận
                        này.</p>
                </div>
                <div class="faq_answer"><strong><u>Nội dung do Người sử dụng cung cấp.</u></strong> Bạn chỉ có thể tải lên
                    vùng tương tác bất kỳ hoặc truyền, gửi, công bố, mô phỏng hoặc phân phối trên hoặc thông qua Website
                    JEEJOB phần nội dung, không phụ thuộc vào bất kỳ Quyền Sở hữu Trí tuệ nào, hoặc nội dung mà người
                    giữ Quyền Sở hữu Trí tuệ có sự ủy quyền rõ ràng về việc phân tán trên Internet và trên Website
                    JEEJOB mà không có hạn chế gì. Mọi nội dung được đưa ra với sự đồng ý của người sở hữu bản quyền
                    không phải là bạn phải kèm theo câu như “do [tên người chủ sở hữu] sở hữu bản quyền; được dùng theo ủy
                    quyền”. Với việc đưa nội dung lên vùng tương tác bất kỳ, bạn tự động chấp nhận và/hoặc cam đoan rằng,
                    chủ sở hữu của nội dung đó, hoặc là bạn, hoặc là nhóm thứ ba, đã cho Website JEEJOB quyền và giấy
                    phép không phải trả tiền bản quyền, lâu dài, không thay đổi, không loại trừ, không hạn chế để sử dụng,
                    mô phỏng, thay đổi, sửa lại, công bố, dịch thuật, tạo các sản phẩm phái sinh, cấp phép con, phân phối,
                    thực hiện và hiển thị nội dung đó, toàn phần hay từng phần, khắp thế giới và/hoặc kết hợp nó với các
                    công việc khác ở dạng bất kỳ, qua các phương tiện truyền thông hoặc công nghệ hiện tại hay sẽ phát triển
                    sau này theo điều khoản đầy đủ của Quyền Sở hữu Trí tuệ bất kỳ trong nội dung đó. Bạn cũng cho phép
                    Website JEEJOB cấp giấy phép con cho bên thứ ba quyền không hạn chế để thực hiện bất kỳ quyền nào
                    ở trên với nội dung đó. Bạn cũng cho phép Website JEEJOB dùng tên và logo công ty vì các mục đích
                    tiếp thị.
                </div>
                <!-- end block -->
                <!-- block -->
                <h2 class="faqtitle_answer">Các Liên Kết, Từ Chối Các Bảo Đảm, Giới Hạn Trách Nhiệm</h2>
    
                <div class="faq_answer">
                    <p><strong><u>Các liên kết.</u></strong> Bạn hiểu rằng trừ phần nội dung, các sản phẩm và dịch vụ có
                        trên Website JEEJOB, JEEJOB.com, công ty mẹ, hoặc các chi nhánh, cũng như các giám đốc,
                        nhân viên, người làm công và các đại lý tương ứng kiểm soát, cung cấp không chịu trách nhiệm với nội
                        dung, hàng hóa hoặc các dịch vụ của các sites khác trên Internet được kết nối đến hoặc từ Website
                        JEEJOB. Tất cả nội dung, hàng hóa và các dịch vụ đó đều có thể truy cập được trên Internet bởi
                        bên thứ ba độc lập và không phải là một phần của Website JEEJOB hoặc được kiểm soát bởi
                        JEEJOB.com. Website JEEJOB không xác nhận và cũng không chịu trách nhiệm về tính chính
                        xác, tính đầy đủ, tính hữu dụng, chất lượng và tính sẵn sàng của mọi nội dung, hàng hóa hay các dịch
                        vụ có trên các site được kết nối đến hoặc từ Website JEEJOB mà đó là trách nhiệm duy nhất của
                        bên thứ ba độc lập đó, và do vậy việc sử dụng của bạn là sự mạo hiểm riêng của bạn. Website
                        JEEJOB, công ty mẹ, hoặc các chi nhánh, hoặc các giám đốc, nhân viên, người làm công và các
                        đại lý tương ứng không chịu trách nhiệm pháp lý, trực tiếp hay gián tiếp, với mọi mất mát hay thiệt
                        hại gây ra bởi hoặc bị cho là gây ra bởi việc sử dụng hoặc sự tin cậy của bạn vào mọi nội dung, hàng
                        hóa hoặc các dịch vụ có trên site bất kỳ được kết nối đến hoặc từ Website JEEJOB, hoặc do bạn
                        không thể truy cập lên Internet hay site bất kỳ kết nối đến hoặc từ Website JEEJOB.</p>
    
                    <p><strong><u>Từ chối các bảo đảm.</u></strong> Xin hãy dùng sự suy xét tốt nhất của bạn trong việc đánh
                        giá tất cả các thông tin hoặc các ý kiến được trình bày trên Website JEEJOB. Chính sách của
                        Website JEEJOB không xác nhận hay phản đối mọi ý kiến do người sử dụng bày tỏ, hoặc nội dung
                        do nhóm độc lập khác cung cấp. BẠN ĐỒNG Ý RÕ RÀNG RẰNG VIỆC SỬ DỤNG Website JEEJOB LÀ SỰ MẠO
                        HIỂM CỦA RIÊNG BẠN. Website JEEJOB, VÀ CÔNG TY MẸ, HOẶC CÁC CHI NHÁNH, HOẶC CÁC GIÁM ĐỐC, NHÂN
                        VIÊN, NHỮNG NGƯỜI LÀM THUÊ, CÁC ĐẠI LÝ, CÁC CỘNG TÁC VIÊN, HỘI VIÊN, NGƯỜI CẤP PHÉP HOẶC CÁC NHÀ
                        CUNG CẤP KHÁC CUNG CẤP NỘI DUNG, DỮ LIỆU, THÔNG TIN HOẶC CÁC DỊCH VỤ KHÔNG BẢO ĐẢM RẰNG, Website
                        JEEJOB HOẶC MỌI SITE INTERNET ĐƯỢC KẾT NỐI ĐẾN HOẶC TỪ Website JEEJOB SẼ KHÔNG BỊ NGẮT
                        QUÃNG HOẶC BỊ SAI SÓT, RẰNG CÁC NHƯỢC ĐIỂM SẼ ĐƯỢC SỬA CHỮA, HOẶC SITE NÀY, KỂ CẢ CÁC VÙNG TƯƠNG TÁC
                        HOẶC MÁY CHỦ TẠO RA NÓ KHÔNG BỊ NHIỄM VIRUS HAY CÁC THÀNH PHẦN GÂY HẠI KHÁC. VÀ CHÚNG TÔI CŨNG KHÔNG
                        BẢO ĐẢM VỀ CÁC KẾT QUẢ NHẬN ĐƯỢC TỪ VIỆC SỬ DỤNG Website JEEJOB HOẶC VỀ TÍNH ĐÚNG LÚC, TÍNH
                        TRÌNH TỰ, TÍNH CHÍNH XÁC, SỰ ỦY QUYỀN, TÍNH ĐẦY ĐỦ, TÍNH HỮU DỤNG, TÍNH BẤT KHẢ XÂM PHẠM, TÍNH TIN
                        CẬY, TÍNH SẴN SÀNG HOẶC TÍNH CHẮC CHẮN CỦA MOI NỘI DUNG, THÔNG TIN, DỊCH VỤ HOẶC GIAO DỊCH ĐƯỢC CUNG
                        CẤP QUA Website JEEJOB HOẶC MỌI SITE ĐƯỢC KẾT NỐI ĐẾN HOẶC TỪ Website JEEJOB. Website
                        JEEJOB ĐƯỢC CUNG CẤP TRÊN CƠ SỞ “VỚI TƯ CÁCH LÀ”, “NẾU CÓ” MÀ KHÔNG CÓ BẤT KỲ ĐẢM BẢO THEO
                        HÌNH THỨC NÀO, RÕ RÀNG HAY NGỤ Ý, BAO GỒM NHƯNG KHÔNG HẠN CHẾ, CÁC VẤN ĐỀ CÓ TÍNH THƯƠNG MẠI HAY PHÙ
                        HỢP CHO MỘT MỤC ĐÍCH CỤ THỂ.</p>
    
                    <p><strong><u>Giới hạn về trách nhiệm pháp lý.</u></strong> TRONG BẤT KỲ TRƯỜNG HỢP NÀO, Website
                        JEEJOB, CÔNG TY MẸ, HOẶC CÁC CHI NHÁNH, HOẶC CÁC GIÁM ĐỐC, NHÂN VIÊN, NHỮNG NGƯỜI LÀM THUÊ,
                        CÁC ĐẠI LÝ, CÁC CỘNG TÁC VIÊN, HOẶC NHỮNG NGƯỜI CẤP PHÉP KHÔNG CHỊU TRÁCH NHIỆM PHÁP LÝ VỚI MỌI
                        THIỆT HẠI NGẪU NHIÊN, ĐẶC BIỆT HAY ĐƯƠNG NHIÊN THEO HOẶC NẢY SINH TỪ BẢN THỎA THUẬN NÀY, Website
                        JEEJOB HOẶC MỌI SITE INTERNET ĐƯỢC KẾT NỐI ĐẾN HOẶC TỪ Website JEEJOB, VÌ LÝ DO VI PHẠM
                        HỢP ĐỒNG, ỨNG XỬ SAI LẦM, SƠ XUẤT HOẶC BẤT KỲ NGUYÊN NHÂN HÀNH ĐỘNG KHÁC NÀO, BAO GỒM NHƯNG KHÔNG
                        HẠN CHẾ MỌI NGHĨA VỤ PHÁP LÝ CHO MỌI THIỆT HẠI GÂY BỞI HOẶC CHO LÀ GÂY BỞI MỌI THIẾU SÓT TRONG THỰC
                        HIỆN, LỖI BỎ SÓT, GIÁN ĐOẠN, SỰ ĐỘT BIẾN/HỎNG HÓC/NHIỄU ĐIỆN, VIỆC XÓA, CHẬM TRỄ TRONG HOẠT ĐỘNG
                        HOẶC CHUYỂN TẢI, VIRUT MÁY TÍNH, HỎNG ĐƯỜNG LIÊN LẠC, HỎNG THIẾT BỊ, LỖI PHẦN MỀM, VI PHẠM, TRUY CẬP
                        TRÁI PHÉP, HOẶC TRỘM CẮP, PHÁ HOẠI, THAY THẾ, HOẶC SỬ DỤNG CÁC BẢN GHI.</p>
    
                    <p>TRONG BẤT KỲ TRƯỜNG HỢP NÀO, Website JEEJOB, CÔNG TY MẸ, HOẶC CÁC CHI NHÁNH, HOẶC CÁC GIÁM ĐỐC,
                        NHÂN VIÊN, NHỮNG NGƯỜI LÀM THUÊ, CÁC ĐẠI LÝ, CÁC CỘNG TÁC VIÊN HOẶC NHỮNG NGƯỜI CẤP PHÉP KHÔNG CHỊU
                        TRÁCH NHIỆM PHÁP LÝ ĐỐI VỚI BẠN HOẶC MỌI NHÓM THỨ BA KHÁC VỀ MỌI QUYẾT ĐỊNH ĐÃ RA HOẶC HÀNH ĐỘNG MÀ
                        BẠN THỰC HIỆN VÌ TIN VÀO NỘI DUNG CHỨA TRONG Website JEEJOB HOẶC NỘI DUNG CHÚNG ĐỰNG TRONG
                        PHẠM VI MỌI SITE INTERNET ĐƯỢC KẾT NỐI VỚI HOẶC TỪ Website JEEJOB. NỘI DUNG TRONG PHẠM VI
                        Website JEEJOB VÀ NỘI DUNG TRONG PHẠM VI CÁC SITE INTERNET ĐƯỢC KẾT NỐI ĐẾN HOẶC TỪ Website
                        JEEJOB CÓ THỂ CÓ LỖI KỸ THUẬT, CÁC LỖI KHÔNG CHÍNH XÁC KHÁC, HOẶC CÁC LỖI IN.</p>
    
                    <p>BẠN ĐỒNG Ý VÀ THỪA NHẬN RÕ RÀNG RẰNG, Website JEEJOB KHÔNG CHỊU TRÁCH NHIỆM PHÁP LÝ VỚI MỌI
                        HÀNH VI NÓI XẤU, TẤN CÔNG, KHÔNG TRUNG THỰC HOẶC CẤC HÀNH VI BẤT HỢP PHÁP KHÁC CỦA NGƯỜI SỬ DỤNG BẤT
                        KỲ. NẾU BẠN KHÔNG BẰNG LÒNG VỚI BẤT KỲ NỘI DUNG NÀO CỦA Website JEEJOB, HOẶC VỚI GIAO KÈO TRUY
                        CẬP CỦA Website JEEJOB, TOÀN BỘ HAY TỪNG PHẦN, THÌ BIỆN PHÁP DUY NHẤT CỦA BẠN LÀ THÔI KHÔNG SỬ
                        DỤNG Website JEEJOB NỮA.</p>
                </div>
                <!-- end block -->
                <!-- block -->
                <h2 class="faqtitle_answer">Tuân Thủ Và Xử Lý Vi Phạm</h2>
    
                <div class="faq_answer">
                    <p>Bạn phải tuân thủ đúng các quy định tại Đơn đặt hàng, Hợp đồng Dịch vụ, bản Điều khoản &amp; Điều kiện
                        này như là điều kiện tiên quyết cho việc sử dụng Dịch vụ. Trường hợp bạn vi phạm bất kỳ quy định nêu
                        tại Đơn đặt hàng, Hợp đồng Dịch vụ và bản Điều Kiện &amp; Điều Khoản này, thì chúng tôi có quyền gỡ bỏ
                        mọi đăng tuyển, nội dung hoặc đường dẫn của bạn hoặc gỡ bỏ, vô hiệu hóa tài khoản sử dụng website
                        JEEJOB nếu xét thấy cần thiết và tạm dừng và/hoặc chấm dứt việc cung cấp dịch vụ mà không phải
                        trả lại Phí Dịch vụ hoặc số tiền dịch vụ mà bạn đã thanh toán nhưng chưa sử dụng hết. Đồng thời,
                        chúng tôi có quyền buộc bạn bồi thường thiệt hại hoặc mất mát phát sinh từ vi phạm của bạn.
                    </p>
                </div>
                <!-- end block -->
                <!-- block -->
                <h2 class="faqtitle_answer">Bồi Thường</h2>
    
                <div class="faq_answer">
                    <p>Bạn đồng ý trả tiền và miễn cho Website JEEJOB, công ty mẹ hoặc công ty con và các chi nhánh,
                        các giám đốc, nhân viên, những người làm công và các đại lý của Website JEEJOB khỏi các trách
                        nhiệm pháp lý, khiếu kiện và các phí tổn, kể cả các phí hợp lý cho luật sư, nảy sinh từ sự vi phạm
                        bản Thỏa thuận này, từ chính sách bất kỳ khác, từ việc bạn sử dụng hay truy cập Website JEEJOB
                        hoặc site internet đựơc kết nối đến hoặc từ Website JEEJOB, hoặc về việc truyền nội dung bất
                        kỳ trên Website JEEJOB.</p>
                </div>
                <!-- end block -->
                <!-- block -->
                <h2 class="faqtitle_answer">Bảo Mật</h2>
    
                <div class="faq_answer">
                    <p>Bạn đồng ý với cam kết bảo mật thông tin liên quan đến Dịch vụ, việc thực hiện giao dịch, và/hoặc bất
                        kỳ thông tin khác thu thập được từ việc thực hiện giao dịch. Bạn sẽ hợp tác ngăn chặn và chống lại
                        hành vi của bất kỳ bên thứ ba nào sao chép và sử dụng trái phép nội dung đăng tuyển hoặc thông tin
                        khác của bạn trên Internet.</p>
    
                    <p>Bạn không được tiết lộ, chia sẻ hoặc bán các thông tin về ứng viên mà mình thu thập được từ việc sử
                        dụng dịch vụ cho bất kỳ một bên thứ ba nào khác dưới mọi hình thức mà không được sự đồng ý trước
                        bằng văn bản của Công Ty.</p>
    
                    <p>Ngoài ra, Khách Hàng có trách nhiệm bảo mật tài khoản và mật khẩu, và chỉ sử dụng tài khoản cho mục
                        đích tuyển dụng của mình theo thỏa thuận quy định tại Đơn đặt hàng/Hợp đồng Dịch vụ.</p>
                </div>
                <!-- end block -->
                <!-- block -->
                <h2 class="faqtitle_answer">Các Vấn Đề Khác</h2>
    
                <div class="faq_answer">
                    <p>Bản thoả thuận này bao gồm toàn bộ sự thoả thuận giữa Website JEEJOB và bạn, và thay thế mọi
                        thoả thuận trước đây về chủ đề này. Website JEEJOB có thể sửa đổi bản Thoả thuận này hoặc bất
                        kỳ chính sách khác vào bất cứ lúc nào và tùy từng thời điểm, và sự sửa đổi này sẽ tức thì có hiệu
                        lực ngay khi thông báo về sự sửa đổi đó được công bố ở nơi dễ thấy trên Website JEEJOB.</p>
    
                    <p>Bạn đồng ý xem lại bản Thoả thuận này định kỳ để nhận biết được những điều đã được sửa đổi. Nếu bạn
                        không chấp nhận các sửa đổi này, bạn phải ngưng truy cập Website JEEJOB. Sự tiếp tục truy cập
                        của bạn và việc sử dụng Website JEEJOB sau thông báo về mọi sửa đổi như vậy sẽ được xem là sự
                        chấp nhận tất cả các sửa đổi như vậy.</p>
    
                    <p>Nếu điều khoản bất kỳ của bản Thoả thuận này hoặc của mọi chính sách khác không có hiệu lực hoặc
                        không thể thực hiện được, thì phần nội dung đó sẽ được giải thích theo luật hiện hành gần nhất có
                        thể để phản ánh mục đích ban đầu của các bên và các phần còn lại sẽ tiếp tục có đầy đủ hiệu hiệu
                        lực. Việc Website JEEJOB không thể đòi hỏi hoặc buộc thực hiện chặt chẽ mọi điều khoản của bản
                        Thoả thuận này sẽ không được coi là sự khước từ điều khoản hay quyền bất kỳ. Bản Thoả thuận này sẽ
                        được điều chỉnh bởi các luật của bang hay tỉnh sở tại của Website JEEJOB, trừ phi có sự mâu
                        thuẫn các quy tắc của các luật, và bạn và Website JEEJOB đều phải phục tùng quyền thực thi
                        pháp lý duy nhất của toà án tỉnh hay bang đó.</p>
    
                    <p>Bản Thoả thuận này là dành riêng cho bạn và bạn không thể chuyển các quyền của bạn, hoặc nghĩa vụ cho
                        bất kỳ ai. Tất cả các logo, tên chi nhánh, các sản phẩm, tên thương mại hay các nhãn hiệu dịch vụ
                        xuất hiện ở đây có thể là các tên thương mại hay các nhãn dịchvụ của các chủ sở hữu tương ứng của
                        chúng. Các tham chiếu đến tên thương mại bất kỳ, nhãn hiệu dịch vụ và các liên kết đến hoặc từ
                        Website JEEJOB đều được thực hiện chặt chẽ để làm rõ và nhận dạng và không cấu thành sự chứng
                        thực của Website JEEJOB về các sản phẩm, dịch vụ hoặc thông tin do người chủ sở hữu của tên
                        thương mại, nhãn dịch vụ, hoặc liên kết, đề nghị hoặc sự chứng thực của Website JEEJOB bởi
                        người sở hữu các sản phẩm, dịch vụ hoặc liên kết đó.</p>
                </div>
                <!-- end block -->
            </div>
            <div style="text-align:right" class="outside-content"><a href="#top">Về đầu trang</a><br><br>
            </div>
        </div>
    </div>
</div>